body {
  margin: 300px;
  padding: 0;

  align-items: center;
  align-content: center;
  justify-content: center;

  text-align: center;
  background-color: #eeeef3;
}

h1 {
  color: #2c3156;
}

div {
  font-size: 15px;
}